.main-header{
    background: rgb(207, 41, 41);
    display: flex;
}
.logo{
    align-items: center;
    justify-content: center;
}
#right-ul{
    /* float:right; */
    display: flex;
    flex-direction: row;
}

#right-ul li a{
    padding: 2px 8px;

    list-style-type:none;
    /* padding: 5px 8px; */
    text-decoration: none;
    align-items: center;
    justify-content: center;
    /* margin: 2px 5px; */
}